.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    padding: 10px 20px;
}

.navbar-logo{
    color: aquamarine;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.link{
    color: white;
    text-decoration: none;
}